---
import Layout from '@layouts/Default.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const builtWith = [
  { name: 'Astro', url: 'https://astro.build/' },
  { name: 'UnoCSS', url: 'https://uno.antfu.me/' },
  {
    name: 'Content Collections',
    url: 'https://docs.astro.build/en/guides/content-collections/',
  },
  { name: 'RSS', url: 'https://docs.astro.build/en/guides/rss/' },
  {
    name: 'Sitemap',
    url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/',
  },
  { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
  { name: 'Netlify', url: 'https://www.netlify.com/' },
  { name: 'Brutal UI', url: 'https://brutal.elian.codes/' },
];

const myTechStack = [
  'JavaScript',
  'TypeScript',
  'Astro',
  'React',
  'Node.js',
  'Python',
  'C#',
  'Google Cloud',
  'Docker',
  'AWS',
  'Vercel',
  'Next.js',
  'Azure',
];
---

<Layout
  title='ztoben.dev'
  description='My home page'
>
  <main class='bg-orange p-6 flex flex-col items-center full-height-minus-header'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4 max-w-5xl'>
      <div class='col-span-8'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              Who am I?
            </p>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
              I'm a software engineer. A creator. An eternal learner.
            </p>
            <Button target={'_self'} href='/blog/'>
              Check out my blog &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-8 sm:col-span-4'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            What tools do I use?
          </h2>
          <p class='outfit'>
            Generally, whatever gets the job done. But here are some of my favorites:
          </p>
          <br />
          <ul class='flex gap-4 flex-wrap'>
            {
              myTechStack.map((item) => (
                <li>
                  <Pill>
                    {item}
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-8 sm:col-span-4'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
            What do I like to make?
          </h2>
          <p class='poppins'>
            I like building web applications, discovering new technologies, and sharing my knowledge with others.
          </p>
          <br />
          <p class='poppins'>
            Front end is where my interests most align, but I am an efficient full stack developer.
          </p>
        </Card>
      </div>
      <div class='col-span-8 sm:col-span-4'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
            How is this site made?
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              builtWith.map((item) => (
                <li>
                  <a
                    href={item.url}
                    class='outfit font-bold underline transition-all duration-150 ease-in-out'
                    title={`Go to ${item.name}`}
                  >
                    {item.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
    </section>
  </main>
</Layout>
